.navbar {
  background-color: #000000;
  box-shadow: 0 0 40px blanchedalmond;
}

.navbar-brand {
  color: #000000;
  text-shadow: 2px 2px 4px white;
}

.btn-transparent {
  background-color: transparent;
  border: none;
}

.btn:hover {
  background-color: #464646;
}

.btn-custom {
  outline: solid rgb(188, 183, 183) 1px;
  background-color: rgb(66, 64, 64);
}

.bi-person-circle,
.bi-person-fill-gear {
  color: blanchedalmond;
}

.logout {
  color: rgb(107, 107, 110);
}
