.navbar {
  background-color: #000000;
  box-shadow: 0 0 40px blanchedalmond;
}

.navbar-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand {
  color: #000000;
  text-shadow: 2px 2px 4px white;
}

.btn-transparent {
  background-color: transparent;
  border: none;
}

.btn:hover {
  background-color: #464646;
}

.btn-custom {
  outline: solid rgb(188, 183, 183) 1px;
  background-color: rgb(66, 64, 64);
}

.bi-person-circle,
.bi-person-fill-gear {
  color: blanchedalmond;
}

.bi-person-vcard {
  color: rgb(65, 65, 67);
}

.bi-person-vcard:hover {
  color: lightgoldenrodyellow;
  cursor: pointer;
}

.logout {
  color: rgb(107, 107, 110);
}

.ft-sm {
  font-size: 0.6rem;
}

.menu,
.menu:hover {
  background-color: transparent;
  border: none;
}

.menu:hover {
  transform: scale(150%);
}

.offcanvas.offcanvas-start {
  position: fixed;
  margin-top: 3.3rem;
  height: 25vh;
  width: 225px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 450px) {
  .offcanvas.offcanvas-start {
    width: 75%;
  }
}

@media (max-width: 300px) {
  .offcanvas.offcanvas-start {
    width: 100%;
  }
}
