.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.modal-body {
  width: 20rem;
}

.email {
  margin-bottom: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.valid-feedback,
.invalid-feedback {
  font-size: 0.75rem;
}

.input::placeholder {
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(142, 143, 144);
}
